.idea/

# C #
/srcs/c/core
# HASKELL #
srcs/haskell/*
!srcs/haskell/core.hs
# JAVA #
srcs/java/*.class

logs.txt
runner
test/test
test/test_init
one-runner
one-cases.txt

# automaticaly generated tests
test/1-main-cases/05_rotate-counter-clockwise/0_I/
test/1-main-cases/05_rotate-counter-clockwise/3_S/
test/1-main-cases/05_rotate-counter-clockwise/4_Z/
test/1-main-cases/05_rotate-counter-clockwise/5_O/
